@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 2, 0, 36;
        --background-end-rgb: 2, 0, 36;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(2, 0, 36);
    background: radial-gradient(
        circle,
        rgba(2, 0, 36, 1) 0%,
        rgba(226, 225, 230, 1) 84%,
        rgba(255, 255, 255, 1) 100%,
        rgba(0, 212, 255, 1) 100%,
        rgba(255, 255, 255, 1) 100%
    );
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
